/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/
.band-one {
  width: 150px;
  height: 150px;
  margin: 5px;
  border:15px;
  padding: 10px;
  background-color: black;
}
.band-two {
  width: 150px;
  height: 150px;
  margin: 5px;
  border:15px;
  padding:10px;
  background-color: black;
}
.band-three {
  width: 150px;
  height: 150px;
  margin: 5px;
  border:15px;
  padding:10px;
  background-color: black;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

