* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.band-one {
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 15px;
  padding: 10px;
  background-color: black;
  align-items: center;
}
.band-two {
  width: 25px;
  height: 75px;
  margin: 25px;
  border: 25px;
  padding: 25px;
  background-color: black;
  align-items: right;
}
